<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JMK</title>

    </head>
    <body>
        
        <img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
        <h1>Eesti Film</h1>
        <hr>
        <ul>
            <li> <a href="/eestifilm">Eesti Filmde avaleht</a></li>
            <li> <a href="/">Avalehele</a></li>
        </ul>
        <hr>
        <h2>Lisa filmiteelane</h2>
        <form method = 'POST'>
            <label for="firstNameInput">Filmitegelase eesnimi</label>
            <input type="text" name="firstNameInput" id="firstNameInput" placeholder="Eesnimi" required>
            <br>
            <label for="lastNameInput">Filmitegelase eesnimi</label>
            <input type="text" name="lastNameInput" id="lastNameInput" placeholder="Perekonnanimi" required>
            <br>
            <label for="birthDateInput">Filmitegelase eesnimi</label>
            <input type="date" name="birthDateInput" id="birthDateInput" placeholder="Sünnikuupäev" required>
            <br>
            <input type="submit" name="personSubmit" value="Salvesta">
        </form>
        <p><%= locals.notice || 'Ootel!' %></p> <!--locals võttab kohallike väärtuis teistest failidest-->
    </body> <!-- || ütleb, et tee kas ühte või teist ehk if, else statement-->
</body>
</html>