<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JMK</title>

    </head>
    <body>
        
        <img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
        <h1>Eesti Film</h1>
        <hr>
        <ul>
            <li> <a href="/eestifilm/filmiloend">Eesti filmide loend</a></li>
            <li> <a href="/eestifilm/addfilmperson">Lisa Eesti filmitegelasi</a></li>
            <li> <a href="/eestifilm/singlemovie">Vali mis filme tahad näha</a></li>
            <li> <a href="/">Avalehele</a></li>
        </ul>
    </body>
</html>