<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JMK</title>

    </head>
    <body>
        <h1>JMK</h1>
        <img src="https://greeny.cs.tlu.ee/~rinde/media/pics/banner/vp_banner_2023.png" alt="veebiprogrammeerimise kursuse banner">
        <p>
            See veebileht on tehtud <a href="https://www.tlu.ee/" target="_blank">TLÜ</a> digitehnoloogiate instituudi informaatika eriala õppetöö käigus!
        </p>
        <p>
            Ma olen sees. BRAVO SIX going dark. bzzzzt
        </p>

    </body>
</html>