<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JMK</title>

    </head>
    <body>
        
        <img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
        <h1><%=h1%></h1>
        <p>
            Vanasõnad
        </p>
        <hr>
       <ul>
        <!--Teeme ejs tsükli, mis käib läbi massiivi wisdom-->
        <%wisdom.forEach(function(sentence){ %>
            <li><%=sentence%></li>
        <%});%>
       </ul>
       <ul>
        <!--Teeme ejs tsükli, mis käib läbi massiivi names-->
        <%name.forEach(function(sentence){ %>
            <li><%=sentence%></li>
        <%});%>
       </ul>
        <hr>
        <ul>
            <li> <a href="/">Avalehele</a></li>
        </ul>
    </body>
</html>