<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JMK</title>

    </head>
    <body>
        
        <img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
        <h1>Aeg lehe avamisel</h1>
        <p>
            Lehe avamisel oli
        </p>
       <ul>
        <li>Kuupäev: <%= %></li>
        <li>Kellaaeg</li>
       </ul>
        <hr>
        <ul>
            <li> <a href="/">Avalehele</a></li>
        </ul>
    </body>
</html>